@import url("https://fonts.googleapis.com/css?family=Lato");

/* general */
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: Lato;
}

.chat-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* sidebar */
.chat-sidebar {
    width: 300px;
    color: honeydew;
    border-left-width: 20px;
    border-left: #383838;
    border-color: #383838;
    background-color: #1d2229;
}

.contacts-header {
    font-size: 32px;
    padding: 20px 12px 12px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts-header:hover {
  color: goldenrod;
  text-decoration: none;
}


.add-contact-form {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.contact-button {
    padding: 10px 0px 10px 0;
    text-align: left !important;
    text-indent: 20px;
    width: 100%;
    background-color: #1d2229;
    color: honeydew;
    border: none;
    outline: none;
}

.contact-button:focus {
    background-color: goldenrod;
    color: #1d2229;
    border: none;
    outline: none;
}
:target {
    background-color: goldenrod;
    color: #1d2229;
}

.user-contacts {
    list-style-type: none;
}

.contact-input-box {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    color: honeydew;
    border: 2px solid #383838;
    border-radius: 4px;
    background-color: #1d2229;
    box-sizing: border-box;
    resize: none;
}

.add-button {
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #1d2229;
    color: honeydew;
    border: none;
    outline: none;
}

/* chat box where messages go */

.chat-box-container {
    background-image: url("./static/back.png");
    background-size: cover;
}

.time-display {
    color: gray;
    font-weight: 100;
    padding-right: 10px;
    font-size: small;
}

.username-display {
    color: goldenrod
}

.you-display {
  color: #a85ff1;
}

.separator {
    color: goldenrod;
}

.message-display {
    padding-left: 8px;
    color: honeydew;
}

.chat-message-container {
    list-style-type: none;
    padding-left: 20px;
}

/* where input goes */

.message-input-container {
    padding-bottom: 20px;
}

.chat-input-box {
    background-color: #1d2229;
    border-color: #383838;
    color: honeydew;
}

.chat-input-box:focus {
    background-color: #1d2229;
    border-color: #383838;
    color: honeydew;
}

.chat-input-box:active {
    background-color: #1d2229;
    border-color: #383838;
    color: honeydew;
}

.chat-input-box:hover {
    background-color: #1d2229;
    border-color: goldenrod;
}

.chat-send-button {
    background-color: #1d2229;
    border-color: #383838;
}

.chat-send-button:hover {
    background-color: #1d2229;
    border-color: goldenrod;
}


/* PASSWORD STATE */

.password-state {
  height: 24px;
  width: 24px;
  pointer-events: none;
}

.profile-container {
  background-image: url("./static/back.png");
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 100px;
  height: 100px;
}

.profile-edits-container {
    width: 60%;
    background-color: #1d2229;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.details-container {
  width: 30%;
  background-color: #1d2229;
  color: honeydew;
}

/*
.edit-fields {
  width: 284px;
  height: 290px;
  position:absolute;
  top: 50%;
  left:50%;
  margin-top: -147px;
  margin-left: -144px;
} */
